body {
    background: black
}

p {
  display: block;
  width: 400px;
  margin: 25px auto;
  font: 15px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: white
}
a:visited {
 color: blue
}